body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #268A7E;
}

h1{
  text-align: center;
  margin: 50px;
  font-family: 'Lobster', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/*PAGE : gestion_appareil*/

/*Encadré avec le fond blanc*/
.main_appareil{
  background: #fff;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 40px 30px 20px 30px;
  padding: 20px;
}


/*Sous-parties qui se déroulent*/
.souspartie{
  margin: 40px;
}


.piece{
  color: grey;
  font-size: 18px;
  outline: none;
}

/*Cards avec les appareils*/
.liste{
  margin: 20px;
  padding: 0px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  Gap: 30px;
}

.column {
  display: inline-block;
}

.card {
  width: 180px;
  height: 210px;
  padding: 16px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px; 
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom:20px; 
}

.card_img{
  width: 150px;
  height: auto;
  border-radius: 55px;
}



/*Card avec le logo + pour ajouter un appareil*/
.plus{
  padding: 30px 16px 0px 16px;
}

.img_plus{
  width: 150px;
}

/*Lien appareil vers réglages*/
.lien_app{
  text-decoration: none;
  color: black;
}

/*Boutons pour supprimer un appareil et ajouter une pièce*/
.btn_app {
  padding: 15px 25px;
  margin: 25px auto;
  border-radius : 25px;
  border: none;
  box-shadow: 4px 5px 6px 1px rgba(0,0,0,0.3);
  cursor: pointer;
  background-color: #f1f1f1;
  display: block;
}



/* PAGES : lampe-principale, lampe-couleur, thermostat*/

/*Encadré gris pour les réglages*/
.reglage{
  width : 60%;
  height: auto; 
  background-color: #f1f1f1;
  margin: 30px auto 30px auto;
  padding: 40px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.5);
}


/*Boutons on/off*/

.onoffswitch {
  /*Div qui contient le bouton*/
  position: relative; 
  width: 90px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  /*Checkbox pour qu'on switch entre on/off*/
  display: none;
}

.onoffswitch-label {
  /*Le bouton en lui même*/
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border: 2px solid #999999; 
  border-radius: 20px;
}

.onoffswitch-inner {
  /*Partie intérieure du bouton*/
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  /*Parties ON et OFF*/
  display: block; 
  float: left; 
  width: 50%; 
  height: 30px; 
  line-height: 30px;  
  font-size: 14px; 
  font-family: Trebuchet, Arial, sans-serif; 
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  /*Partie ON*/
  content: "ON";
  padding-left: 10px;
  background-color: rgb(161, 247, 140); 
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  /*Partie OFF*/
  content: "OFF";
  padding-right: 10px;
  background-color: rgba(255, 21, 21, 0.774); 
  color: white;
  text-align: right;
}

.onoffswitch-switch {
  /*Rond blanc*/
  display: block; 
  width: 18px; 
  margin: 6px;
  background: #FFFFFF;
  position: absolute; 
  top: 0; 
  bottom: 0;
  right: 56px;
  border: 2px solid #999999; 
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  /*Permet le "mouvement" des parties ON et OFF*/
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  /*Permet de "mouvement" du rond blanc*/
 right: 0px;
}
 

/*Barre pour régler la luminosité*/
.lumino[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 40%;
  background-color: #f1f1f1;
}

.lumino[type=range]:focus {
  outline: none;
  background-color: #f1f1f1;
}

.lumino[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgb(250, 250, 154);
  border-radius: 5px;
  border: 1px black solid;
}

.lumino[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #0D0404;
  height: 22px;
  width: 29px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
/*Adaptation à mozilla*/
.lumino[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: rgb(250, 250, 154);
  border-radius: 5px;
  border: 1px black solid;
}

.lumino[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #0D0404;
  height: 22px;
  width: 29px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
}

/*Barre pour régler la température*/
.temp[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background-color: #f1f1f1;
}

.temp[type=range]:focus {
  outline: none;
  background-color: #f1f1f1;
}

.temp[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 1px #000000;
  background: linear-gradient(to right, blue, red);
  border-radius: 5px;
  border: none;
}

.temp[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #0D0404;
  border: 2px solid #020303;
  height: 23px;
  width: 30px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}

/*Adaptation à mozilla*/
.temp[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 1px #000000;
  background: linear-gradient(to right, blue, red);
  border-radius: 5px;
  border: none;
}

.temp[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #0D0404;
  border: 1px solid #020303;
  height: 23px;
  width: 30px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
}

/*Carrés pour choisir la couleur de la lampe*/
.carre{
  width:50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 3px;
  border-style: double;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
}

.jaune{
  background-color: rgb(250, 250, 116);
}

.orange{
  background-color: rgb(250, 206, 125);
}

.rouge{
  background-color: rgb(255, 0, 0);
}

.rose{
  background-color: rgb(255, 117, 225);
}

.violet{
  background-color: rgb(163, 0, 228);
}

.bleu{
  background-color: rgb(48, 62, 253);
}

.vert{
  background-color: rgb(19, 233, 0);
}



/*Responsive*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .main_appareil{
  padding:0;
  margin: 0;
  }

  .souspartie{
    margin: 0;
  }

  .liste{
    grid-template-columns: 1fr;
  }

  
}

