body{
  background-color: #268A7E;
  font-family: MontSerrat;
  margin: 0;
}


img{
  size: 1rem;
}
  
.burger{
  margin: 0.5rem;
}
.logo{
  padding-left: 3rem;
}


.Presentation{


background-color: white;
text-align: left;

box-shadow:  5px 5px 5px black;
padding: 10px;
border-radius: 0px 10px 0px 10px

}
.Actus{
vertical-align:middle;

margin: 1em;

background-color: grey;
padding: 1em
}
.Actus>div{
  border: green 3px solid;
  border-radius: 5px;
  background-color: white;
  margin: 3px;
  padding: 3px
}


.lien{
  text-decoration: none;
  color: #929292 ;
}


.souspartie{
  margin: 50px;
}

.piece{
  color: grey;
  font-size: 18px;
  outline: none;
  text-decoration: none;
}


  @media only screen and (max-width: 600px) { /*Petit écran

      .amp{ /*Pour enlever les ampoules sur les petits écrans*/
        padding: 0%;
        color: #268A7E;
        position: absolute;
        margin-left: -5000%
      }
      .NosProd>div>div{
  padding: 1rem;
  margin: 1rem;
  display:block;
  background-color: white;
  color: black;
  border: solid black 2px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px 3px black;
  overflow: hidden;

}
img{
  max-width: 7em;
  max-height: 7em;
}


@media only screen and (min-width: 601px){
  .NosProd>div>div{
  padding: 1rem;
  margin: 1rem;
  display:inline-block;
  background-color: white;
  color: black;
  border: solid black 2px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px 3px black;
  justify-content:space-around;
  overflow: hidden;

}
.Contenu{
  display:flex;
  justify-content: space-around
}
.Presentation{
  margin: 1em;
  margin-right: 5em;
  margin-left: 3em;
max-width: 30%;
}
img{
  max-width: 15em;
  max-height: 15em;
}
.prodcont{
  justify-content: space-between;
  display: flex
}

}
.NosProd>div>img{
  max-width: 50px;
  max-height: 50px;
}
    
@media only screen and (min-width: 601px) {
  .NosProd>div>img{
  max-width: 7em;
  max-height: 7em;
}
}
.amp{
  justify-content: space-between;
  display: flex;
}
a{
  text-decoration: none;
  color: black;
}

.lanc{
  justify-items: center;
  margin-left: 45%;
  align-self: center;
  text-align: center;
  display: inline-block;
  border: black solid;
  border-radius: 10px;
  padding: 2px;
  text-decoration: none;
  transition: transform .1s;
  margin-bottom: 30px

}
.lanc:hover{
  transform: scale(1.1);
  animation: con 1s infinite;
  cursor: pointer
}
@keyframes con{
  0%{
    background-color: unset;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: unset;
  }
}
h1{
  text-align: center;
  font-family: Lobster
}
h2{
  text-align: center;
  font-family: Lobster
}
.produits{
  display: flex;
  justify-content: space-around
}

.NosProd{
  margin: 2rem;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 3px 3px 3px black;
  display: ;
  background-color: bisque;
  justify-content: space-around
}
