body {
  font-family: sans-serif;
  margin: 0;
}

/*Barre de navigation*/
.navbar 
{
  background-color: #268A7E;
}



/*Page : gestion_appareils*/
h1{
  text-align: center;
  margin: 50px;
}

/*Card avec les appareils*/
.column {
  float: left;
  padding: 0 10px;
}

.liste{
  margin: 20px;
  padding: 0px 40px 0px 40px;
  align-content:center ;
}

.liste:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.card {
  width: 180px;
  height: 210px;
  padding: 16px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px; 
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom:20px; 
}

.card_img{
  width: 150px;
  height: auto;
  border-radius: 55px;
}
/*Card pour ajouter un appareil*/
.card_plus{
  width: 180px;
  height: 210px;
  padding: 30px 16px 0px 16px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px; 
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom:20px;
  
}

.plus{
  width: 150px;
}

/*Bouton pour supprimer un appareil et ajouter une pièce*/
.btn_app {
  font-family: sans-serif;
  padding: 15px 25px;
  margin: 25px auto 25px auto;
  border-radius : 25px;
  border: none;
  box-shadow: 4px 5px 6px 1px rgba(0,0,0,0.3);
  cursor: pointer;
  background-color: #f1f1f1;
  display: block;
}





.lien{
  text-decoration: none;
  color: #929292 ;
}


.souspartie{
  margin: 50px;
}

.piece{
  color: grey;
  font-size: 18px;
  outline: none;
}





/*Boutons on/off*/
.onoffswitch {
  position: relative; 
  width: 90px;
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block; 
  overflow: hidden; 
  cursor: pointer;
  border: 2px solid #999999; 
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block; 
  width: 200%; 
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; 
  float: left; 
  width: 50%; 
  height: 30px; 
  padding: 0; 
  line-height: 30px;  
  font-size: 14px; 
  color: white; 
  font-family: Trebuchet, Arial, sans-serif; 
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: rgb(161, 247, 140); 
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE; color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block; 
  width: 18px; 
  margin: 6px;
  background: #FFFFFF;
  position: absolute; 
  top: 0; 
  bottom: 0;
  right: 56px;
  border: 2px solid #999999; border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
 
label{
  display:inline-block;
}  


/*Curseur luminosité*/
/*input {
 margin: .4rem;
 outline: none;
}*/

/*Input range pour la température*/
input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 70%;
  background-color: #f1f1f1;
}

input[type=range]:focus {
  outline: none;
  background-color: #f1f1f1;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 1px #000000;
  background: linear-gradient(to right, blue, red);
  border-radius: 5px;
  border: none;
}


input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #0D0404;
  border: 2px solid #020303;
  height: 23px;
  width: 30px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background:linear-gradient(to right, blue, red) ;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 2px 2px 1px #000000;
  background: #24B6FF;
  border-radius: 5px;
  border: 2px solid #FF2424;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #0D0404;
  border: 2px solid #020303;
  height: 23px;
  width: 30px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #24B6FF;
  border: 2px solid #FF2424;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #24B6FF;
  border: 2px solid #FF2424;
  border-radius: 10px;
  box-shadow: 2px 2px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #0D0404;
  border: 2px solid #020303;
  height: 23px;
  width: 30px;
  border-radius: 7px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #24B6FF;
}
input[type=range]:focus::-ms-fill-upper {
  background: #24B6FF;
}


/*Lien appareil vers réglages*/
.lien_app{
  text-decoration: none;
  color: black;
}


/*Réglages des appareils*/

.reglage{
  width : 60%;
  height: auto; 
  background-color: #f1f1f1;
  margin: 30px auto 30px auto;
  padding: 40px;
  box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.5);
}

/*Réglage couleurs*/

.carre{
  width:50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-color: black;
  border-width: 3px;
  border-style: double;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px 10px 20px;
}

.jaune{
  background-color: rgb(250, 250, 116);
}

.orange{
  background-color: rgb(250, 206, 125);
}

.rouge{
  background-color: rgb(255, 0, 0);
}

.rose{
  background-color: rgb(255, 117, 225);
}

.violet{
  background-color: rgb(163, 0, 228);
}

.bleu{
  background-color: rgb(48, 62, 253);
}

.vert{
  background-color: rgb(19, 233, 0);
}




