body {
    background-color: #268A7E;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.navbar 
{
  background-color: #268A7E;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Connect
{
  margin: 1px;
  border: black solid;
  border-radius: 10px;
  transition: transform .1s;
  background-color:#268A7E;
  }
  .Connect:hover{
    transform: scale(1.1);
    cursor: pointer
  }
  .burger{
    margin: 1px;
  }
  .logo{
    padding-left: 3px;
}



p {
    font-size: 18px;
}

/*page connect.html*/
.connect {
    display:block;
    text-align: center;
    line-height: 50px;
    height: 20%;
    width: 30%;
    box-shadow: white;
    border: solid 2px  black;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin: 200px 34%; 
}
@media (max-width: 768px) {
    .connect{
    width: 95%;
    margin: 200px 1px;}
    }

  
/* page inscription.html*/
.ins {
    display: block;
    text-align: center;
    line-height: 50px;
    height: 5%;
    width: 30%;
    box-shadow: white;
    border: solid 2px  black;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    margin: 5% 34%;

}

@media (max-width: 768px) {
    .ins
    {
    width: 95%;
    margin: 10% 1px;}
    }

.navbar/*barre de navigation*/ 
{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{ /*logo*/
    padding-left: 3px;
}
:focus { /* Quand on navigue au clavier ou quand on clique sur le menu*/
  outline: 2px solid black;
}
.btn{
  position: relative;
  z-index: 10;
  border: none;
  background: transparent;
  margin-left: 5px;
}
.backdrop  {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition:background-color 0.2s ease-in; 
}
.backdrop.active{
  background-color: rgba(0,0,0,0.2);
  pointer-events: all;
}

.active nav {
  left: 0;
  
}

nav{
  position: relative;
  top: 0;
  left: -30%;
  background-color: white;
  width: 30%;
  height: 100%;
  transition:left 0.2s ease-in;
}

nav ul {
margin: 0;
padding-inline-start: 0;
list-style-type: none;
padding: 30px 10px;
}

nav ul li {
color: #929292;
width: 100%;
text-align: center;
padding: 15px 0;
}


nav ul li:nth-child(n + 2) {
border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.lien{
  text-decoration: none;
  color: #929292 ;
}


.souspartie{
  margin: 50px;
}

.piece{
  color: grey;
  font-size: 18px;
  outline: none;
}

/* boutton se connecter de la barre de navigation*/

.button {
 text-decoration: none;
 color: black;
 margin: 0.5px;
 border: black solid;
 border-radius: 10px;
 transition: transform .1s;
 padding: 2px;
}
 
.button:hover{
 transform: scale(1.1);
 cursor: pointer;
 }
