body{
  background-color: #268A7E;
  font-family: MontSerrat;
  margin: 0;
}


img{
  size: 1rem;
}
  
.burger{
  margin: 0.5rem;
}
.logo{
  padding-left: 3rem;
}
.Contenu{
  display:flex;
  justify-content: space-around
}

.Presentation{
margin: 1em;
margin-right: 5em;

background-color: white;
text-align: left;
max-width: 50%;
box-shadow:  5px 5px 5px black;
padding: 10px;
border-radius: 0px 10px 0px 10px

}
.Actus{
vertical-align:middle;
margin-left: 3em;
margin: 1em;
max-width: 30%;
background-color: grey;
padding: 1em
}
.Actus>div{
  border: green 3px solid;
  border-radius: 5px;
  background-color: white;
  margin: 3px;
  padding: 3px
}


.lien{
  text-decoration: none;
  color: #929292 ;
}


.souspartie{
  margin: 50px;
}

.piece{
  color: grey;
  font-size: 18px;
  outline: none;
  text-decoration: none;
}


  @media only screen and (max-width: 600px) {

      .amp{
        padding: 0%;
        color: #268A7E;
        position: absolute;
        margin-left: -5000%
      }
      .NosProd>div>img{
        max-width: 150px;
        max-height: 150px;
      }
    }
.amp{
  justify-content: space-between;
  display: flex;
}
a{
  text-decoration: none;
  color: black;
}

.lanc{
  justify-items: center;
  margin-left: 45%;
  align-self: center;
  text-align: center;
  display: inline-block;
  border: black solid;
  border-radius: 10px;
  padding: 2px;
  text-decoration: none;
  transition: transform .1s;

}
.lanc:hover{
  transform: scale(1.1);
  animation: con 1s infinite;
  cursor: pointer
}
@keyframes con{
  0%{
    background-color: unset;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: unset;
  }
}
h1{
  text-align: center;
  font-family: Lobster
}
h2{
  text-align: center;
  font-family: Lobster
}
.NosProd{
  margin: 2rem;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 3px 3px 3px black;
  display: block;
  background-color: bisque;
  justify-content: space-around
}
.NosProd>div{
  padding: 1rem;
  margin: 10px;
  display:inline-block;
  background-color: white;
  color: black;
  border: solid black 2px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 3px 3px black;

}
.NosProd>div>img{
  max-width: 100px;
  max-height: 100px;
}
img{
  max-width: 20em;
  max-height: 20em;
}