body{
  background-color: #268A7E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}
.navbar{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img{
  size: 1rem;
}

.Connect{
  margin: 0.5rem;
  border: black solid;
  border-radius: 10px;
  transition: transform .1s;
  padding: 2px;
  text-decoration: none;

  
}
.Connect:hover{
  transform: scale(1.1);
  cursor: pointer;
  
}
.burger{
  margin: 0.5rem;
}
.logo{
  padding-left: 3rem;
}
.Contenu{
  display:flex;
  justify-content: space-around
}
.Presentation{
margin: 1em;
margin-right: 5em;

background-color: white;
text-align: left;
max-width: 50%;
box-shadow:  5px 5px 5px black;
padding: 10px;
border-radius: 0px 10px 0px 10px

}
.Actus{
vertical-align:middle;
margin-left: 3em;
margin: 1em;
max-width: 30%;
background-color: grey;
padding: 1em
}
.Actus>div{
  border: green 3px solid;
  border-radius: 5px;
  background-color: white;
  margin: 3px;
  padding: 3px
}
:focus { /* Quand on navigue au clavier ou quand on clique sur le menu*/
 transition:background-color 0.2s ease-in; 
}
.backdrop.active{
  background-color: rgba(0,0,0,0.2);
  pointer-events: all;
}

.active nav {
  left: 0;
  
}

nav{
  position: relative;
  top: 0;
  left: -30%;
  background-color: white;
  width: 30%;
  height: 100%;
  transition:left 0.2s ease-in;
}

nav ul {
margin: 0;
padding-inline-start: 0;
list-style-type: none;
padding: 30px 10px;
}

nav ul li {
color: #929292;
width: 100%;
text-align: center;
padding: 15px 0;
}


nav ul li:nth-child(n + 2) {
border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.backdrop  {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  transition:background-color 0.2s ease-in; 

}
.backdrop.active{
  background-color: rgba(0,0,0,0.2);
  pointer-events: all;
  text-decoration: none;
  
}

.active nav {
  left: 0;
}

nav{
  position: relative;
  top: 0;
  left: -30%;
  background-color: white;
  width: 30%;
  height: 100%;
  transition:left 0.2s ease-in;
}

nav ul {
margin: 0;
padding-inline-start: 0;
list-style-type: none;
padding: 30px 10px;
}

nav ul li {
color: #929292;
width: 100%;
text-align: center;
padding: 15px 0;
}


nav ul li:nth-child(n + 2) {
border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.lien{
  text-decoration: none;
  color: #929292 ;
}


.souspartie{
  margin: 50px;
}

.piece{
  color: grey;
  font-size: 18px;
  outline: none;
  text-decoration: none;
}
.amp{
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}
a{
  text-decoration: none;
  color: black;
}
.lanc{
  margin-left: 50%;
  margin-bottom: 30px;
  align-self: center;
  text-align: center;
  display: inline-block;
  border: black solid;
  border-radius: 10px;
  padding: 2px;
  text-decoration: none;
  transition: transform .1s;
}
.lanc:hover{
  transform: scale(1.1);
  animation: con 1s infinite;
  cursor: pointer
}
@keyframes con{
  0%{
    background-color: unset;
  }
  50%{
    background-color: green;
  }
  100%{
    background-color: unset;
  }
}
h1{
  text-align: center
}
h2{
  text-align: center
}
.NosProd{
  background-color: bisque;
}
.NosProd>div{
  background-color: red;
}